.ToDoList {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #fbfbfb;
}

.ColumnFirst {
  width: 20%;
  min-width: 12rem;
  height: 100%;
  padding: 1rem;
}

.ColumnSecond {
  width: 80%;
  height: 100%;
  padding: 1rem 0;
}
