.ToDoListProfile {
  width: 100%;
  height: 15%;
  display: flex;
  border: 2px solid black;
  align-items: center;
  padding: 0.5rem;
}

.Logo {
  width: 40%;
  text-align: center;
}

.ToDoListProfile p {
  width: 60%;
  text-align: center;
}
