.Auth {
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form {
  width: 70%;
  height: 200px;
  padding: 1rem;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input {
  padding: 0.4rem;
  margin-bottom: 1rem;
  width: 95%;
  text-align: center;
}

.Input:last-of-type {
  margin-bottom: 1.6rem;
}

.ButtonAuth {
  width: 95%;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #ccc;
  letter-spacing: 1.3px;
  color: white;
  font-weight: 700;
  transition: background-color 1000ms, transform 250ms, box-shadow 250ms;
  outline: none;
  cursor: not-allowed;
}

.EnabledButton {
  background-color: #20c997;
}

.EnabledButton:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Form {
    width: 350px;
  }
}
