@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

/* 
  login-button  : #20c997 
  add-icon      : #28a745
  delete-icon   : #d9534f 
  save-card     : #20c997
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}
