.Task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.Task > input {
  margin: 0;
}

.Task > p {
  font-family: sans-serif;
  font-size: 0.9rem;
}

.Delete {
  cursor: pointer;
}

.Delete:hover {
  color: #dc3545;
}
